# Scikit-learn

scifi tool kit 이라는 의미
scifi를 활용하는 라이브러리
Science(선형대수, 대수) for python
scifi도 numpy위에서 구현되어 있음
scikit learn은 머신러닝 library
쉽고 효율적이게 머신러닝 가능하도록

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

basicpath = '/content/drive/MyDrive/Univ/4-1/Data Science/Practice/8주차'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv(basicpath + '/test.csv')

In [ ]:
data

       age  income student credit_rating  buy
0    youth    high      no          fair   no
1    youth    high      no     excellent   no
2   middle    high      no          fair  yes
3   senior  medium      no          fair  yes
4   senior     low     yes          fair  yes
5   senior     low     yes     excellent   no
6   middle     low     yes     excellent  yes
7    youth  medium      no          fair   no
8    youth     low     yes          fair  yes
9   senior  medium     yes          fair  yes
10   youth  medium     yes     excellent  yes
11  middle  medium      no     excellent  yes
12  middle    high     yes          fair  yes
13  senior  medium      no     excellent   no

### Label encoder의 활용

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
encoder = LabelEncoder()
# svm 같은거 사용할 때, 좌표상 위치가 중요하니까
# 그런것을 위해서 string type의 데이터를 int로
# 데이터를 벡터로 만드는게 인코딩
# 라벨 인코딩? 벡터지만 길이가 1인 벡터, 스칼라 값으로 변환시켜주겠다 하는 그런 모듈

#### Fit == training, transform == predict

In [ ]:
encoder.fit(data['buy'])
# buy라는 column에 data를 fit 시키는 것
# 모델을 학습시키는데, buy라는 column을 encoder에 넣어서, buy라는 column을
# 어떻게 변환시킬지 학습하는거에요
# 어떤 단어를 어떤 숫자로 변환시킬지 학습하는 것

LabelEncoder()

In [ ]:
encoder.fit(['no', 'yes'])
# buy를 안집어넣더라도, no와 yes value만 주어도 똑같이 수행이 된다
# 근데 우리가 이렇게 넣어주려면, 데이터의 특성을 파악하고 유니크 값들이 뭔지 다 알아야해

LabelEncoder()

In [ ]:
encoder.transform(data['buy'])
# encoder로 buy column을 transform시켜라

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

#### encoding 확인

In [ ]:
encoder.classes_

array(['no', 'yes'], dtype=object)

#### fit + transform

In [ ]:
encoder_auto = LabelEncoder()
encoder_auto.fit_transform(data['buy'])
# 한개에 대해서 할거라면 동시에 할 수 있도록 해

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [ ]:
data

       age  income student credit_rating  buy
0    youth    high      no          fair   no
1    youth    high      no     excellent   no
2   middle    high      no          fair  yes
3   senior  medium      no          fair  yes
4   senior     low     yes          fair  yes
5   senior     low     yes     excellent   no
6   middle     low     yes     excellent  yes
7    youth  medium      no          fair   no
8    youth     low     yes          fair  yes
9   senior  medium     yes          fair  yes
10   youth  medium     yes     excellent  yes
11  middle  medium      no     excellent  yes
12  middle    high     yes          fair  yes
13  senior  medium      no     excellent   no

In [ ]:
encoder.classes_

array(['no', 'yes'], dtype=object)

### 참고 - 약속 encoding term
- Flase/True = 0/1
- No/Yes = 0/1
- 알파벳 = 순서대로

#### 모든 데이터 변환

In [ ]:
for col in data.columns:
    data[col] = encoder.fit_transform(data[col])
data
# fit_transform(data)
# 이건 모든 데이터에 대해서 fit 시키는거에요.
# low 0, medium 1, high 2, no 3 이렇게 전체 데이터에 fit될 거에요
# 우리는 이걸 원하지 않고 각 column이 0부터 시작하기를 원해

    age  income  student  credit_rating  buy
0     2       0        0              1    0
1     2       0        0              0    0
2     0       0        0              1    1
3     1       2        0              1    1
4     1       1        1              1    1
5     1       1        1              0    0
6     0       1        1              0    1
7     2       2        0              1    0
8     2       1        1              1    1
9     1       2        1              1    1
10    2       2        1              0    1
11    0       2        0              0    1
12    0       0        1              1    1
13    1       2        0              0    0

In [ ]:
encoder.classes_

array(['no', 'yes'], dtype=object)

### 데이터 역변환

In [ ]:
encoder.inverse_transform(data['buy'])
# 이걸로 학습하고 테스트할 때 모델이 그 class label은 0이야!
# 라고 하면 휴리스틱 하지 않아.

array(['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes',
       'yes', 'yes', 'yes', 'no'], dtype=object)

### Train_test split


train_test_split(*arrays, test_size=None, train_size=None, random_state=None, shuffle=True, stratify=None)[source]

순서가 중요한 데이터 셋은 비복원 랜덤추출하면 조금 이상할 수도 있죠?
순서가 중요한건 그냥 80% 자를수도 있고..

shuffle True면 비복원 랜덤추출, False하면 위에서부터 해서 짤라

In [ ]:
# 현실세계에선 train set, test set을 나눠서 주지 않죠
# 우리가 나누어야 함
from sklearn.model_selection import train_test_split

In [ ]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [ ]:
X

    age  income  student  credit_rating
0     2       0        0              1
1     2       0        0              0
2     0       0        0              1
3     1       2        0              1
4     1       1        1              1
5     1       1        1              0
6     0       1        1              0
7     2       2        0              1
8     2       1        1              1
9     1       2        1              1
10    2       2        1              0
11    0       2        0              0
12    0       0        1              1
13    1       2        0              0

In [ ]:
y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: buy, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

data_train, data_test = train_test_split(data, test_size=0.2, random_state=0)

In [ ]:
data_train

    age  income  student  credit_rating  buy
11    0       2        0              0    1
2     0       0        0              1    1
13    1       2        0              0    0
9     1       2        1              1    1
1     2       0        0              0    0
7     2       2        0              1    0
10    2       2        1              0    1
3     1       2        0              1    1
0     2       0        0              1    0
5     1       1        1              0    0
12    0       0        1              1    1

In [ ]:
data_test

   age  income  student  credit_rating  buy
8    2       1        1              1    1
6    0       1        1              0    1
4    1       1        1              1    1

In [ ]:
X_train

    age  income  student  credit_rating
11    0       2        0              0
2     0       0        0              1
13    1       2        0              0
9     1       2        1              1
1     2       0        0              0
7     2       2        0              1
10    2       2        1              0
3     1       2        0              1
0     2       0        0              1
5     1       1        1              0
12    0       0        1              1

In [ ]:
y_train

11    1
2     1
13    0
9     1
1     0
7     0
10    1
3     1
0     0
5     0
12    1
Name: buy, dtype: int64

In [ ]:
X_test

   age  income  student  credit_rating
8    2       1        1              1
6    0       1        1              0
4    1       1        1              1

In [ ]:
y_test

# test set이 모두 1이에요
# 중간고사 precision에 대해서 100% 가 될 수 있는 그 example 기억해봐
# 그 어떤 test에 대해서도, 1을 내뱉겠어라고 하면 무조건 이 test set은 통과하겠죠?
# stratify = y 하면, y test set의 label 비율을 전체 분포와 비슷하게 해라
# 데이터가 정말 많을때에는 잘 나오겠지만, 데이터가 정말 없어서 이렇게 운이 나쁜 케이스가 생긴다면
# stratify가 잘 쓰일거야

8    1
6    1
4    1
Name: buy, dtype: int64

stratify의 활용

In [ ]:
np.bincount(y_train), np.bincount(y_test)

(array([5, 6]), array([0, 3]))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0, stratify=y)

In [ ]:
np.bincount(y_train), np.bincount(y_test)

(array([4, 7]), array([1, 2]))

#### numpy도 됩니다

In [ ]:
X_n = X.values
y_n = y.values

In [ ]:
X_n_train, X_n_test, y_n_train, y_n_test = train_test_split(X_n, y_n, test_size=0.2)

In [ ]:
X_n_train, X_n_test, y_n_train, y_n_test

(array([[0, 0, 0, 1],
        [1, 1, 1, 0],
        [2, 0, 0, 1],
        [0, 0, 1, 1],
        [2, 2, 0, 1],
        [0, 2, 0, 0],
        [1, 2, 0, 1],
        [2, 2, 1, 0],
        [2, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 2, 1, 1]]), array([[2, 0, 0, 0],
        [0, 1, 1, 0],
        [1, 2, 0, 0]]), array([1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1]), array([0, 1, 0]))

## Scikit-learn 모델 학습 - fit and predict

#### 테스트 모델 - decision tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
model = DecisionTreeClassifier()

In [ ]:
model.fit(X_train, y_train)
# encoder fit transform
# 데이터를 단순히 변환하기 때문에 transform이라는 메소드를 쓴다
# DecisionTree는 예측하기 때문에 predict라는 메소드를 쓴다
# scikit에서는 fit, transform, predict 이 3개만 쓴다

DecisionTreeClassifier()

In [ ]:
model

DecisionTreeClassifier()

In [ ]:
model.predict(np.array([0, 0, 0, 0]).reshape(1, -1))
# 1을 inverse_transform 시키면 label이 나오겠지

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0])

In [ ]:
X_test

    age  income  student  credit_rating
13    1       2        0              0
6     0       1        1              0
12    0       0        1              1

In [ ]:
model.predict(X_test)

array([1, 0, 1])

In [ ]:
y_test

13    0
6     1
12    1
Name: buy, dtype: int64

### 정확도 판단

#### confusion matrix

true positive,
false positive,
false negative,
true negative로 confusion matrix만들어서 계산

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
model.predict(X_test)

array([1, 0, 1])

In [ ]:
y_test

13    0
6     1
12    1
Name: buy, dtype: int64

In [ ]:
predict = model.predict(X_test)
# ground truth가 먼저 들어가고 predict 값 들어간다
confusion_matrix(y_test, predict)

array([[0, 1],
       [1, 1]])

In [ ]:
confusion_matrix(y, model.predict(X))
# 이건 전체 데이터에 대해서 해본거야, 어쨌든간에 잘 맞추고 있다..

array([[4, 1],
       [1, 8]])

#### Precision

In [ ]:
from sklearn.metrics import precision_score

In [ ]:
print(precision_score(y_test, model.predict(X_test)))

0.5

#### Recall

In [ ]:
from sklearn.metrics import recall_score

In [ ]:
print(recall_score(y_test, model.predict(X_test)))

0.5